$Pacifico: "Pacifico", cursive;
$Nunito: "Nunito", Arial, sans-serif;

$white: #f8f9fa;
$peach: #f7d9c4;
$black: #171219;
$pink: #F94144;
$orange: #F3722C;
$pistachio: #90BE6D;
$yellow: #ffb703;
$blue: #07a9af;

$transition: 0.3s ease-in;

$min-tablet: 768px;
$max-tablet: 1150px;